extends layout

block content
  h1 #{title}: #{bookInstance.book.title}
  if bookInstance.status !== "Available"
    p This book instance cannot be deleted because it is not available.
  else
    p Are you sure you want to delete this book instance?
    form(method='POST' action='')
      div.form-group
        input#bookinstanceid.form-control(type='hidden', name='bookinstanceid', value=bookInstance._id, required='true')
      button.btn.btn-danger(type='submit') Delete
      a.btn.btn-secondary(href=bookInstance.book.url) Cancel